.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #222;
  height: 50px;
  width: 100vw;
  margin: 0 0 50px 0;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  margin: auto 70px auto auto;
}

.nav-wrapper li a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  transition: color 0.5s ease;
}

.nav-wrapper li a:hover {
  color: deeppink;
}

.nav-wrapper li {
  margin: 10px;
  list-style: none;
}
