.post-name-list {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgrey;
  background: pink;
}

.post-name-list div {
  text-align: left;
}

.post-name-list div a {
  text-decoration: none;
}
