html,
body {
  margin: 0;
  padding: 0
}

html {
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  /* background: rgba(240,240,255,.7); */
  background: rgba(255,255,255,.7);
/*    background: rgba(0,0,0);*/

}

a {
  text-decoration: none;
  color: rgba(0,200,200,1);
}

a:hover {
  text-decoration: underline;
}

/* ----------------------------------------------
    SMALL NAV STYLING
---------------------------------------------- */

.small-navigation {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  margin: 0 auto;
}

.small-navigation ul {
  /* text-align: center; */
  margin: 0 auto;
  padding: 0;
}

.small-navigation ul li {
  margin: 0;
  padding: 0;
}

.small-nav-pic {
  width: 100%;
  height: 200px;
  text-align: center;
}

.small-nav-pic img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

/* ----------------------------------------------
    LARGE NAV STYLING
---------------------------------------------- */

.large-navigation {
  display: flex;
  flex-direction: row;

  width: 97%;
  /* text-align: center; */
  margin: 0;
  padding: 0 auto;
  position: fixed;
  top:0;
  /* z-index: 1; */
  background-color: rgba(255,255,255,1);

  /* box-shadow: .25px .25px 20px whitesmoke; */
}

.social-icon,
.nav-icon {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-icon a,
.nav-icon a {
  color: black;
}

.nav-pic {
  margin: 20px 40px auto auto;
  /* position: right; */
}

.nav-pic img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

/* _______________________ */

nav li {
  list-style: none;
  margin: 0 .25vw;
  display: inline-block;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 200;
  margin: 0 20px;
}

.nav-icon a:hover {
  color: rgba(0,150,200,1);
  /* color: #cc2d8a; */
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition: .25s;
}
/*
.social-icon {
  color: black;
} */

.fa-facebook,
.fa-twitter,
.fa-github,
.fa-instagram {
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition: .25s;
}

.fa-twitter,
.fa-github,
.fa-instagram {
  padding:10px 12px;
}

.fa-facebook {
    padding:10px 14px;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-github:hover {
  background-color: #ebe8ec;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-instagram:hover {
    background-color: #cc2d8a;
}

.header-div {
  background: white;
  height: 30vh;
}

/* ----------------------------------------------
    FOOTER STYLING
---------------------------------------------- */

.footer {
  text-align: center;
}

.footer h3 {
  font-weight: 100;
}

/* ----------------------------------------------
    HOME STYLING
---------------------------------------------- */

.home {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    letter-spacing: 1px;
}

/* Make sure no content shows before user begins scrolling */
#top-of-page {
  height: 100vh;
  /* background-color: rgba(0,0,0,0.1); */
}

#top-of-page h1 {
  font-family: 'Bungee Outline';
  font-weight: 600;
  color: #fff;
  font-size: 10vh;
  text-shadow: 2px 2px 10px black;
  /* position: absolute; */

  /* bottom: 0; */
  /* left: 0; */
  margin: auto auto 5vh 5vw;

  -o-animation: neon1 1s ease-in-out infinite alternate;
  -ms-animation: neon1 1s ease-in-out infinite alternate;
  -webkit-animation: neon1 1s ease-in-out infinite alternate;
  -moz-animation: neon1 1s ease-in-out infinite alternate;
  animation: neon1 1s ease-in-out infinite alternate;

  -o-animation: neon1 1.5s ease-in-out infinite alternate;
  -ms-animation: neon1 1.5s ease-in-out infinite alternate;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

/*glow for o*/
@-o-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
/*glow for ms*/
@-ms-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
/*glow for mozilla*/
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
/*glow*/
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

.intro {
  letter-spacing: 1px;
  display: inline-block;
}

.small-top-margin {
  margin: 100px 0 0 0;
}

.large-top-margin {
  margin: 300px 0 0 0;
}

.intro h2 {
  color: rgba(0, 70, 203, 1);
  font-size: 40px;
  font-weight: 100;
  /* text-shadow: 2px 2px 2px black; */
  float: left;
  padding:0vh 5vw 0vh 5vw;
  max-width: 900px;
}
.intro div {
  /* margin: 300px 0 0px 0; */
  padding: 0;
}

/* ----------------------------------------------
    WEBGL HOME STYLING
---------------------------------------------- */

canvas {
  margin: 0;
  height: 100vh;
  width: 100vw;
}


/* ----------------------------------------------
    TIMELINE STYLING
---------------------------------------------- */

.timeline-wrapper {
  padding: 0;
}

.day-wrapper {
  background: rgba(250,250,250,1);
  border: 1px solid lightgrey;
  /* box-shadow: .2px .2px 1px; */
  max-width: 600px;
  height: auto;
  text-align: center;
  margin: 0px auto;
  font-weight: 100;
  padding: 20px;
  border-radius: 10px;
}

.day-seperator {
  background: rgba(250,250,250,1);
  height: 100px;
  width: 0px;
  border: 1px solid lightgrey;
  /* box-shadow: .2px .2px 3px; */
  margin: 4px auto;
}

.date-div {
  text-align: right;
}

.date {
  margin: 30 30px;
}

.learned,
.coffee,
.music,
.cool-things {
  font-weight: 100;

}

/* ----------------------------------------------
    TIMELINE FORMS
---------------------------------------------- */

.all-forms-wrapper {
  margin: 100px auto;
  padding: 40px 0;
  width: 70vw;
  min-height: 100vh;
  background: rgba(250,250,250,1);
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.submit-form-wrapper {
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
}

.add-form-title {
  font-size: 50px;
  margin: 0 0 40px 0;
  font-weight: 100;
}

.input-wrapper select {
  /* max-width: 40vw; */
}

.input-wrapper input {
  height: 40px;
  padding: 1px;
  font-size: 15px;
}

.input-wrapper textarea {
  height: 150px;
  padding: 1px;
  font-size: 15px;
}

.add-form-button-wrapper {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
}

.add-form-button-wrapper button {
  height: 20px;
  width: 80px;
}


/* ----------------------------------------------
    LOGIN FORMS
---------------------------------------------- */

.login-wrapper {
  margin: 200px auto;
  padding: 70px;
  max-width: 60vw;
  background-color: lightgrey;
}

.login-form-button-wrapper {

}


/* HOLD DOWN BOTTOM */
